*.go text eol=lf
go.mod text eol=lf
go.sum text eol=lf
*.sh text eol=lf
*.bash text eol=lf
.gitattributes text eol=lf

packaging/windows/languages/Korean.isl -text
packaging/windows/languages/LICENSE-InnoSetup.txt -text
